name: CI Pipeline

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=$PYTHONPATH:$(pwd)" >> $GITHUB_ENV
        
      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        env: 
          PYTHONPATH: ${{ github.workspace }}
        run: PYTHONPATH=$PYTHONPATH:$(pwd) python -m pytest
